* {
    box-sizing: border-box;
}

@font-face {
    font-family: Segoe UI;
    src: url(../Fonts/Segoe\ UI.ttf);
}
body {
    overflow: hidden;
    margin: 0;
    position: relative;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    width: 100%;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-y: scroll;
}
.main-body {
    width: 700px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    align-items: center;
    border-style: none;
    border-width: 2px;
    border-color: white;
    border-radius: 10px;
    background-color: #f2f2f7;
}
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin-bottom: 15px;
    background-color: #ffffff;
    border-radius: 13px;
}
.container > p {
    font-size: 20px;
    margin: 10px 20px;
    text-transform: capitalize;
}
.def-container {
    min-height: 200px;
}
#answer {
    font-size: 16px;
}
.btn-container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 430px;
    padding: 20px 0;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    color: black;
    border: none;
    border-radius: 13px;
    width: 170px;
    height: 45px;
    margin: 10px 5px;
    font-size: 16px;
}

button:hover {
    box-shadow: 0 2px 2px 0 rgba(124, 124, 124, 0.8);
}
.page-changer {
    background-color: #007aff;
    color: white;
}

@media only screen and (max-width: 701px) {
    body {
        padding: 0px;
        background-color: #f2f2f7;
    }

    .main-body {
        width: 100%;
        border-radius: 0px;
    }
}
@media only screen and (max-width: 500px) {
    body {
        align-items: flex-start;
    }
    .main-body {
        margin: 0;
        padding: 15px 0 0 0;
    }
    .container {
        width: 95%;
    }
}
@media only screen and (orientation: portrait) and (max-width:500px) {
    .def-container {
        height: 40vh;
    }
    .btn-container {
        flex-direction: column;
        min-height: 43vh;
    }
}
@media only screen and (orientation: portrait) and (max-width:370px) {
    .def-container {
        height: 35vh;
    }
    button {
        margin: 5px 5px;
    }
}