body {
    background-color: #121212;
}

.main-body {
    background-color: #252525;
}

.title {
    color: white;
}

.sub-title {
    color: white;
}

a.main-link {
    color: #252525;
}

a.main-link:hover {
    background-color: #06f1da;
}

a.disabled-link {
    background-color: #03dac5a6;
}

a.disabled-link:hover {
    background-color: #03dac5a6;
}

a.home-link {
    background-color: #f88c66;
}

a.home-link:hover {
    background-color: #fc8155;
}

p, h1, h2, h3 {
    color: white;
}
/*   Theme button    */
#change-theme {
    color: white;
}


.body-night {
    background-color: #121212;
}

.main-body-night {
    background-color: #252525;
}

.title-night {
    color: white;
}

.sub-title-night {
    color: white;
}

a.main-link {
    color: #252525;
}

a.main-link:hover {
    background-color: #06f1da;
}

a.disabled-link {
    background-color: #03dac5a6;
}

a.disabled-link:hover {
    background-color: #03dac5a6;
}

a.home-link {
    background-color: #f88c66;
}
a.home-link:hover {
    background-color: #fc8155;
}
.p-night {
    color: white;
}
.header-night{
    color: white;
}