* {
    box-sizing: border-box;
}
@font-face {
    font-family: Segoe UI;
    src: url(../Fonts/Segoe\ UI.ttf);
}

body {
    margin: 0;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-body {
    width: 700px;
    padding: 60px;
    border-style: none;
    border-width: 2px;
    border-color: white;
    border-radius: 10px;
    background-color: #252525;
}
.title {
   text-align: center;
   font-size: 30px;
   font-weight: 600;
   color: white; 
   display: block;
   margin: 0.05em;
}
.sub-title {
    display: block;
    color: white;
    text-align: center;
    text-emphasis: 87%;
}
a.main-link {
    color: #252525;
    font-weight: bold;
    /* background-color: #c696fd; */
    background-color: #03dac5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-radius: 3px;
    text-decoration: none;
    margin: 8px 0;
}
a.main-link:hover {
    background-color: #06f1da;
}
a.disabled-link {
    background-color: #03dac5a6;
}
a.disabled-link:hover {
    background-color: #03dac5a6;
}
a.disabled-link::after {
    font-size: x-small;
    color: #444444;
    content: "Disabled";
    margin-left: 6px;
}
/*
a.home-link {
    background-color: #cda3ff;
}
a.home-link:hover {
    background-color: #bd88ff;
} */
p {
    color: white;
    font-size: medium;
    font-weight: 400;
}
h2,h3,h4,h1 {
    color: white;
}

img {
    width: 100%;
}

div.image {
    width: 100%;
    margin-top: 20px;
}
.image>img {
    border-radius: 30px;
}
@media only screen and (max-width: 900px) {
    .main-body {
        width: 90%;
    }
}
@media only screen and (max-width: 600px) {
    h2 {
        font-size: 1em;
    }
    .main-body {
        width: 93%;
        padding: 20px;
    }
    .title {
        font-size: 1.5em;
    }
    .sub-title {
        font-size: 0.8em;
    }
    .main-link {
        font-size: 0.8em;
    }
    a.disabled-link::after {
        font-size: 0.7em;
        margin-left: 4px;
    }
}