* {
    box-sizing: border-box;
}
@font-face {
    font-family: Segoe UI;
    src: url(../Fonts/Segoe\ UI.ttf);
}

body {
    margin: 0;
    position: relative;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 15px 0;
    width: 100%;
    min-height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-body {
    position: relative;
    width: 900px;
    padding: 60px;
    border-style: none;
    border-width: 2px;
    border-color: white;
    border-radius: 10px;
    background-color: #f5f5f5;
}
.title {
   text-align: center;
   font-size: 33px;
   font-weight: 900;
   color: #252525; 
   display: block;
   margin: 0.05em;
}
.sub-title {
    display: block;
    color: #252525;
    text-align: center;
    text-emphasis: 87%;
}
a.main-link {
    color: #252525;
    font-weight: bold;
    /* background-color: #c696fd; */
    background-color: #03dac5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-radius: 3px;
    text-decoration: none;
    margin: 8px 0;
    position: relative;
}
a.main-link:hover {
    background-color: #06f1da;
}
a.disabled-link {
    background-color: #03dac5a6;
}
a.disabled-link:hover {
    background-color: #03dac5a6;
}
a.disabled-link::after {
    font-size: x-small;
    color: #444444;
    content: "Disabled";
    margin-left: 6px;
}
a.updated::after {
    font-size: x-small;
    color: rgb(199, 0, 0);
    content: "Updated!";
    margin-left: 6px;
}

a.home-link {
    background-color: #f88c66;
}
a.home-link:hover {
    background-color: #fc8155;
} 
p {
    color: #252525;
    font-size: medium;
    font-weight: 400;
    margin-top: 4px;
    text-align: justify;
    text-justify: inter-word;
}
h2,h3,h4,h1 {
    color: #252525;
}
h3 {
    padding-left: 6px;
}
img {
    width: 100%;
}

div.image {
    width: 100%;
    margin-top: 20px;
}
div.image>img {
    border-radius: 30px;
}


/*   Theme button    */
#change-theme {
    background: none;
    border: none;
    font-size: 40px;
    position: absolute;
    top: 15px;
    color: #252525;
    display: none;
}

/* table */
table, td, tr, th {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-collapse: collapse;
    margin: 0;
    padding: 8px;
}
td, th {
    text-align: center;
    min-width: 110px;
}
th {
    font-family: Arial, Helvetica, sans-serif;
}
tr:nth-child(even) {
    background-color: #eeeeee;
}


@media only screen and (max-width: 900px) {
    .main-body {
        width: 90%;
    }
    table {
        font-size: smaller;
    }
    th {
        font-size: 10px;
    }
}
@media only screen and (max-width: 600px) {
    h2 {
        font-size: 1.3em;
    }
    h3 {
        font-size: 1.1em;
    }
    .main-body {
        width: 93%;
        padding: 20px;
    }
    .title {
        font-size: 1.5em;
    }
    .sub-title {
        font-size: 0.8em;
    }
    .main-link {
        font-size: 0.8em;
    }
    a.disabled-link::after {
        font-size: 0.7em;
        margin-left: 4px;
    }
    a.updated::after {
        font-size: 0.7em;
        margin-left: 4px;
    }
    #change-theme {
        font-size: 30px;
    }
}
@media only screen and (max-width: 450px) {
    #change-theme {
        font-size: 25px;
        top: 0px;
    }
}